 <header><%= render 'shared/header' %></header><!-- Rotating photos of featured work -->

<div class='container-fluid', id="main_container">
    <div class="col-md-2">
      <div class="artist_name"><h2>Roberto</h2></div>
      <p>Roberto Garcia Jr. specializes in bronze sculpture, painting, large scale monuments, and explorations of artistic mediums. </p>
      <div></div>
      <br>
      <br>
      <ul class="list-group">
         <li><%= button_to "Bronze Sculptures", roberto_bronze_path, method: :get, class: "roberto_bronze" %></li>
         <li>Monuments</li>
         <li>Paintings</li>
         <li>Bronze Bas-Reliefs</li>
      </ul>
  </div>

  <div class="col-md-8" >
    <div class="main-panel">
    <!-- <h2>View Artist Galleries</h2> -->
     <div class="single-item">
      <div><%= image_tag('luna.jpg', class: "image") %></div>
      <div><%= image_tag('big_boy.jpg', class: "image") %></div>
      <div><%= image_tag("walker.jpg", class: "image") %></div>
    </div>
    </div>
  </div>

  <div class="col-md-2">
    <div class ="artist_name"><h2>Baby G.</h2></div>
    <p>Ana L. Garcia, artist name Baby G, specializes in wildlife and animal bronze sculpture, digital paintings and photography.</p>
      <br>
      <br>
        <ul class="list-group">
         <li><%= button_to "Bronze Sculptures", ana_bronze_path, method: :get,  class: "ana_bronze" %></li>
         <li>Portraits</li>
         <li>Digital Paintings</li>
      </ul>
    </div>
</div>


<footer><%= render 'shared/footer' %></footer>




